[Unit]
Description=Magic 8 Ball

[Service]
ExecStart=go run /opt/magic/main.go
Type=simple
Restart=always
RestartSec=3
User=ubuntu
EnvironmentFile=/opt/magic/magic.env

[Install]
WantedBy=multi-user.target
